<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ស្វែងរក</title>
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../vender/bootstrap-icon/font/bootstrap-icons.css">
</head>

<body>
    <header class="fixed-header">
        <nav class="py-3">
            <div class="container">
                <div class="row gy-4 align-items-center">
                    <div class="col-auto order-0">
                        <a href="../../../index.html" class="navbar-brand text-primary fs-3 fw-bold">Boakuk</a>
                    </div>
                    <div class="col-xl-6 col-12 order-2 order-xl-1 ms-3">
                        <div class="row d-flex under-logo">
                            <div
                                class="col-7 col-md-9 col-xl-8 d-flex align-items-center overflow-hidden justify-content-between p-0 bg-instead border rounded-5">
                                <input
                                    class="form-control border-0 shadow-none w-100 bg-transparent py-1 px-3 get_vlue_by_search"
                                    type="text" placeholder="ស្វែងរក" aria-label="search"
                                    onkeydown="handleKeyDown(event)">

                                <button type="submit" class="btn btn-serch bg-primary gap-2"
                                    onclick="searchAndRedirect()">
                                    <i class="bi bi-search text-white"></i>
                                </button>
                            </div>
                            <div
                                class="col-5 col-md-3 col-xl-4 px-md-3 d-flex justify-content-end justify-content-xl-start">
                                <button
                                    class="btn btn-location d-flex gap-2 bg-instead rounded-5 fs-18 text-dark-emphasis">
                                    <i class="bi bi-crosshair2 fs-18" style="transform: translateY(1px);"></i>
                                    ហាងនៅក្បែ
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto ms-auto p-0 order-1 order-xl-2">
                        <div class="d-flex w-100 align-items-center justify-content-end">
                            <div class="dropdown rounded-2">
                                <a class="text-decoration-none hover-nav fs-18 rounded-2 px-3 py-2 d-flex align-items-center gap-1"
                                    href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="profile_header bg-instead rounded-circle">
                                        <i class="bi bi-person-circle"></i>
                                    </div>
                                    <span>គណនី</span>
                                    <i class="bi bi-chevron-down fw-bold"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start mt-2 p-3 border-0 dropdown-shdow"
                                    style="width:300px;">
                                    <li class="mb-3" id="signup-list">
                                        <a class="dropdown-item hover-nav d-flex align-items-center p-0 gap-2 rounded-2 fs-18"
                                            href="#">
                                            <div class="profile_header bg-instead rounded-circle">
                                                <i class="bi bi-person-circle"></i>
                                            </div>
                                            បង្កើតគណនី
                                        </a>
                                    </li>
                                    <li class="mb-3" id="login-list">
                                        <a class="dropdown-item hover-nav d-flex align-items-center p-0 gap-2 rounded-2 fs-18"
                                            href="src/views/auth/login.html">
                                            <div class="profile_header bg-instead rounded-circle">
                                                <i class="bi bi-person-circle"></i>
                                            </div>
                                            ចូលប្រើប្រាស់
                                        </a>
                                    </li>
                                    <li class="mb-3" id="pro-setting">
                                        <a class="dropdown-item hover-nav d-flex align-items-center p-0 gap-2 rounded-2 fs-18"
                                            href="../../../src/views/page/profile.html">
                                            <div class="profile_header bg-instead rounded-circle">
                                                <i class="bi bi-person-circle"></i>
                                            </div>
                                            ប្រវត្តិរូបរបស់ខ្ញុំ
                                        </a>
                                    </li>
                                    <li id="logout-list">
                                        <hr style="color: #ddd;">
                                        <a class="dropdown-item hover-nav d-flex align-items-center p-0 gap-2 rounded-2 fs-18"
                                            href="">
                                            <div class="profile_header bg-instead rounded-circle">
                                                <i class="bi bi-power"></i>
                                            </div>
                                            ចាកចេញពីគណនី
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <a href
                                class="hover-nav d-flex align-items-center gap-2 me-2 fs-18 text-decoration-none px-3 py-2 rounded-2">
                                <div class="profile_header bg-instead rounded-circle">
                                    <i class="bi bi-bell-fill fs-18"></i>
                                </div>
                                <span class="d-none d-sm-block">ការជូនដំណឹង</span>
                            </a>
                            <button type="submit" onclick="wishlist()"
                                class="hover-nav border-0 profile_header d-flex align-items-center justify-content-center bg-instead rounded-circle">
                                <i class="bi bi-heart fs-18 bi-2x" style="transform: translateY(2px);"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <main style="margin-top: 90px;">
        <div class="container">
            <div id="Is-search-found"></div>
            <div id="store-card" class="row g-4">
                <!-- Store Card 1 -->

            </div>
            <div id="search_not_found"></div>
        </div>
    </main>

    <footer class="footer mt-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <h5 class="text-primary">Boukuk</h5>
                    <p class="fs-18">
                        យើងផ្តល់ជូនសេវាបោកគក់គ្រប់ប្រភេទ និង​ដឹកជញ្ជូនគ្រប់ទីកន្លែងក្នុងក្រុងភ្នំពេញ
                        ដោយធានាបាននូវភាពងាយស្រួល​
                        និងគុណភាពដល់អ្នកប្រើប្រាស់។
                    </p>
                    <div class="social-icons">
                        <a href="#" style="background-color:#4267B2;"><i class="bi bi-facebook"></i></a>
                        <a href="#" style="background-color:  #0088cc;"><i class="bi bi-telegram"></i></a>
                        <a href="#"
                            style="background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5); "><i
                                class="bi bi-instagram"></i></a>
                        <a href="#" class="bg-dark"><i class="bi bi-twitter-x text-white"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 ms-auto">
                    <h5 class="text-primary">តំណភ្ជាប់រហ័ស</h5>
                    <ul>
                        <li><a href="index.html" class="fs-18"><i class="bi bi-house-door me-2"></i>ទំព័រដើម</a></li>
                        <li><a href="" class="fs-18"><i class="bi bi-gear me-2"></i>សេវាកម្ម</a></li>
                        <li><a href="aboutUs.html" class="fs-18"><i class="bi bi-info-circle me-2"></i>អំពីយើង</a></li>
                        <li id="order-history"><a href="" onclick="profileMe()"
                                class="border-0 p-0 bg-transparent fs-18"> <i
                                    class="bi bi-person-circle me-2"></i>ប្រវត្តិរូបរបស់ខ្ញុំ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h5 class="text-primary">ទំនាក់ទំនង</h5>
                    <ul>
                        <li><a href="tel:+1234567890"><i class="bi bi-telephone me-2"></i>123-456-7890</a></li>
                        <li>
                            <a href="mailto:boukuk@gmail.com" class="fs-18">
                                <i class="bi bi-envelope me-2"></i>boukuk168@gmail.com
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <hr class="my-4">
            <div class="d-flex justify-content-between">
                <div>
                    <span><i class="bi bi-c-circle"></i> 2024 Boakuk ANT-GROUP9</span>
                </div>
                <div>
                    <span>ឯកជនភាព &amp; គោលការឯកជនភាព</span>
                </div>
            </div>
        </div>
    </footer>


    <script src="../../../vender/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../../assets/js/store.js"></script>
    <script src="../../../assets/js/footer.js"></script>
    <script src="../../../assets/js/search.js"></script>
    <script src="../../../assets/js/header.js"></script>
</body>

</html>