<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP verification</title>
    <link rel="stylesheet" href="vender/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="vender/fontawesome/css/all.css">
</head>

<body class="bg-primary">
    <div class="container">
        <div class="row vh-100 align-items-center">
            <div class="col-md-5 m-auto">
                <div class="bg-white p-5 rounded-3 shadow-sm border">
                    <div>
                        <p class="text-center text-primary" style="font-size: 5.5rem;">
                            <i class="fa-solid fa-square-phone-flip text-primary"></i>
                        </p>
                        <h4 class="text-center text-center">សូមពិនិត្យមើលប្រអប់សារ</h4>
                        <p class="text-muted text-center">យើងបានផ្ញើកូដទៅកាន់លេខទូរស័ព្ទ​ 012345678</p>
                        <div class="row my-3">
                            <div class="col-3">
                                <input class="form-control border-primary py-3" id="" type="text" placeholder=""
                                    aria-label="">
                            </div>
                            <div class="col-3">
                                <input class="form-control border-primary py-3" id="" type="text" placeholder=""
                                    aria-label="">
                            </div>
                            <div class="col-3">
                                <input class="form-control border-primary py-3" id="" type="text" placeholder=""
                                    aria-label="">
                            </div>
                            <div class="col-3">
                                <input class="form-control border-primary py-3" id="" type="text" placeholder=""
                                    aria-label="">
                            </div>
                        </div>
                        <p class="text-muted text-center">មិនទាន់ទទួលបានកូដ? <a href="#"
                                class="text-primary">បញ្ជូនម្ងទៀត</a></p>
                        <div class="row pt-5">
                            <div class="col-6">
                                <button class="btn btn-outline-primary w-100">បោះប​ង់</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-primary w-100">បញ្ជូន</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>