<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ចូលប្រើប្រាស់គណនី</title>
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <link rel="stylesheet" href="../../../vender/bootstrap-icon/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
</head>

<body>
    <section class="vh-100 d-flex align-items-center" style="background-color:#eeeeee;">
        <div class="container">
            <div class="row bg-white bg-login overflow-hidden m-auto" style="width: 1100px; border-radius: 8px;">
                <div class="col-6 p-0">
                    <div class="login-img">
                        <img src="../../../assets/image/autenication/Forgot password-bro.png" class="card-img" alt="">
                    </div>
                </div>
                <div class="col-6 py-5 px-5">
                    <h3 class="text-primary fw-bold">សូមស្វាគមន៏!</h3>
                    <form id="login" class="mt-4">
                        <div class="form-floating mb-4 position-relative">
                            <input type="email" class="form-control" id="email"
                                placeholder="New Password" />
                            <label for="email">អុីម៉ែល</label>
                        </div>
                        <div class="form-floating mb-4 position-relative">
                            <input type="password" class="form-control" id="password"
                                placeholder="New Password" />
                            <label for="pass">ពាក្យសម្ងាត់</label>
                            <span class="password-toggle" onclick="togglePassword('floatingPassword', 'toggleIcon1')">
                                <i id="toggleIcon1" data-lucide="eye"></i>
                            </span>
                        </div>
                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary w-100 fs-18">ចូលប្រើប្រាស់គណនី</button>
                        </div>
                        <!-- <div class="d-flex justify-content-end mb-4">
                            <a href="forgot_pass_email.html" class="fs-18 text-decoration-none">ភ្លេចពាក្យសម្ងាត់?</a>
                        </div>
                        <hr style="color:#aaa;">
                        <div class="text-center mt-4">
                            <span>តើអ្នកជាសមាជិកថ្មី?</span>
                            <a href="signup.html">បង្កើតគណនី</a>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="../../../assets/js/script.js"></script>
</body>

</html>