<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forgot Password</title>
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="/vender/bootstrap-icon/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body class="bg-primary">
  <section>
    <div class="container vh-100 d-flex align-items-center" style="width: 1100px;">
      <div style="border: 2px solid #fff; padding:10px; border-radius: 8px;">
        <div class="row align-items-center bg-white m-auto" style="border-radius: 8px; height:500px;">
          <div class="col-12 col-md-6">
            <div class="d-flex justify-content-center align-items-center">
              <img src="/assets/image/autenication/forgot-pass.jpg" style="width: 470px;" class="card-img" alt="">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card bg-transparent border-0" style="border-radius: 8px">
              <div class="card-body p-md-4 p-xl-5">
                <div class="row">
                  <div class="col-12">
                    <div class="mb-4">
                      <h2 class="h3 mb-4 text-center text-dark-emphasis">
                        បញ្ខូលកូដ OTP
                      </h2>
                      <h3 class="fs-6 fw-normal text-dark-emphasis lh-base text-center m-0">
                        សូមពិនិត្យមើលក្នុង​ប្រអប់សារអុីម៉ែល កូដផ្ញើទៅកាន់
                        <span id="getemail">name@gmail.com</span>
                      </h3>
                    </div>
                  </div>
                </div>
                <form action="#">
                  <div class="row gy-3 overflow-hidden">
                    <div class="col-12">
                      <div class="form-floating mb-3 d-flex gap-2">
                        <input type="text" autocomplete="off" class="form-control" id="num"
                          placeholder="New Password" />
                        <input type="text" autocomplete="off" class="form-control" id=""
                          placeholder="New Password" />
                        <input type="text" autocomplete="off" class="form-control" id=""
                          placeholder="New Password" />
                        <input type="text" autocomplete="off" class="form-control" id=""
                          placeholder="New Password" />
                        <input type="text" autocomplete="off" class="form-control" id=""
                          placeholder="New Password" />
                        <input type="text" autocomplete="off" class="form-control" id=""
                          placeholder="New Password" />
                      </div>
                    </div>
                    <div class="col-12 text-center mt-4">
                      <button type="submit" class="btn text-primary">ផ្ញើកូដម្ដងទៀត</button>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">
                        កំណត់ពាក្យសម្ងាត់
                      </button>
                    </div>
                    
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>