<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP verification</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/vender/bootstrap-icon/font/bootstrap-icons.css">
</head>

<body style="background: linear-gradient(to bottom, #4762E6, #7680f0);">
    <div class="container">
        <div class="row vh-100 align-items-center">
            <div class="col-12 col-md-6 m-auto">
                <div class="bg-white box-shadow py-3 px-5" style="border-radius: 8px;">
                    <p class="text-center text-success" style="font-size: 5.5rem;">
                        <i class="bi bi-envelope-check text-primary"></i>
                    </p>
                    <h4 class="text-center text-center">សូមធ្វើការបញ្ចូលកូដ</h4>
                    <p class="text-muted text-center">យើងបានផ្ញើកូដទៅកាន់ <span class="text-primary">exaple@gmail.com</span></p>
                    <div class="d-flex align-items-center gap-3 my-4">
                        <input class="form-control py-3" id="" type="text" placeholder="" aria-label="">
                        <input class="form-control py-3" id="" type="text" placeholder="" aria-label="">
                        <input class="form-control py-3" id="" type="text" placeholder="" aria-label="">
                        <input class="form-control py-3" id="" type="text" placeholder="" aria-label="">
                        <input class="form-control py-3" id="" type="text" placeholder="" aria-label="">
                        <input class="form-control py-3" id="" type="text" placeholder="" aria-label="">
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <button type="submit" class="btn text-primary text-decoration-underline">ផ្ញើកូដម្ដងទៀត</button>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mb-3">បញ្ចូន</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>