<!DOCTYPE html>
<html lang="km">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ទម្រង់កំណត់ពាក្យសម្ងាត់ឡើងវិញ</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/long.css" />
    <script src="https://unpkg.com/lucide@latest"></script>
  </head>
  <body class="bg-body-tertiary re-pass-body">
    <div class="container my-5">
      <div
        class="glass-card m-auto col-12 col-md-10 row g-0 align-items-center"
      >
        <div class="col-lg-6 position-relative d-none d-lg-block">
          <div class="laundry-img">
            <img
              src="/assets/img/reset_pass_img.png"
              alt="រូបភាពក្រាហ្វិក"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="content">
            <h2 class="mb-2 text-black">បង្កើត</h2>
            <h1 class="mb-4 text-dark">ពាក្យសម្ងាត់ថ្មី</h1>
            <form>
              <div class="form-floating mb-4 position-relative">
                <input
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="ពាក្យសម្ងាត់ថ្មី"
                />
                <label for="floatingPassword">ពាក្យសម្ងាត់ថ្មី</label>
                <span
                  class="password-toggle"
                  onclick="togglePassword('floatingPassword', 'toggleIcon1')"
                >
                  <i id="toggleIcon1" data-lucide="eye"></i>
                </span>
              </div>
              <div class="form-floating mb-4 position-relative">
                <input
                  type="password"
                  class="form-control"
                  id="floatingPassword1"
                  placeholder="បញ្ជាក់ពាក្យសម្ងាត់"
                />
                <label for="floatingPassword1">បញ្ជាក់ពាក្យសម្ងាត់</label>
                <span
                  class="password-toggle"
                  onclick="togglePassword('floatingPassword1', 'toggleIcon2')"
                >
                  <i id="toggleIcon2" data-lucide="eye"></i>
                </span>
              </div>
              <div
                class="d-flex flex-column flex-sm-row align-items-center justify-content-between"
              >
                <button
                  type="submit"
                  class="re-btn btn btn-primary mb-3 mb-sm-0"
                >
                  បញ្ជាក់
                </button>
                <div class="re-pass-link">
                  <a class="btn btn-link" href="#">ត្រឡប់ទៅការចូល</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/vender/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
      lucide.createIcons();
      function togglePassword(inputId, iconId) {
        const input = document.getElementById(inputId);
        const icon = document.getElementById(iconId);

        if (input.type === "password") {
          input.type = "text";
          icon.setAttribute("data-lucide", "eye-off");
        } else {
          input.type = "password";
          icon.setAttribute("data-lucide", "eye");
        }
        lucide.createIcons();
      }
    </script>
  </body>
</html>
