<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ចូលប្រើប្រាស់គណនី</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/vender/bootstrap-icon/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <section class="py-5 d-flex align-items-center">
        <div class="container">
            <div class="row bg-white box-shadow overflow-hidden m-auto" style="width: 1100px; border-radius: 8px;">
                <div class="col-6" style="background-color:#f1f1f1">
                    <div class="d-flex flex-column justify-content-between h-100 pt-5">
                        <div class="login-img">
                            <img src="/assets/image/autenication/signup.svg" class="card-img" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-6 py-5 px-5">
                    <h3 class="text-primary fw-bold">សូមស្វាគមន៏</h3>
                    <form action="" class="mt-5">
                        <div class="form-floating mb-3 position-relative">
                            <input type="name" class="form-control" id="name" placeholder="New Password" />
                            <label for="name">នាមត្រកោល និង​នាមខ្លួន</label>
                        </div>
                        <div class="form-floating mb-3 position-relative">
                            <input type="email" class="form-control" id="email" placeholder="New Password" />
                            <label for="email">អុីម៉ែល ឬលេខទូរស័ព្ទ</label>
                        </div>
                        <div class="form-floating mb-4 position-relative">
                            <input type="password" class="form-control" id="date-birth" placeholder="New Password" />
                            <label for="date-birth">ថ្ងៃខែឆ្នាំកំណើត</label>
                        </div>
                        <div class="form-floating mb-5 position-relative">
                            <input type="password" class="form-control" id="pass" placeholder="New Password" />
                            <label for="pass">ពាក្យសម្ងាត់</label>
                            <span class="password-toggle" onclick="togglePassword('floatingPassword', 'toggleIcon4')">
                                <i id="toggleIcon4" data-lucide="eye"></i>
                            </span>
                        </div>
                        <div class="mb-4">
                            <button type="button" class="btn btn-primary w-100 fs-18">បង្កើតគណនី</button>
                        </div>
                        <hr style="color:#aaa;">
                        <div class="text-center mt-4">
                            <span>មានគណនីរួចហើយ?</span>
                            <a href="login.html">ចូលប្រើប្រាស់គណនី</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>
        let register = `https://mps10.chandalen.dev/api/register`;

        document.getElementById('registerForm').addEventListener('submit', function (event) {
            event.preventDefault(); 

            let name = document.getElementById('name').value;
            let email = document.getElementById('email').value;
            let phone = document.getElementById('phone').value;
            let password = document.getElementById('password').value;
            let password_confirmation = document.getElementById('password_confirmation').value;

            let formData = new FormData();
            formData.append('name', name);
            formData.append('email', email);
            formData.append('phone', phone);
            formData.append('password', password);
            formData.append('password_confirmation', password_confirmation);

            fetch(register, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json'
                },
                body: formData
            })
            .then(res => res.json())
            .then(json => {
                console.log(json.data.name);
                console.log(json.data.email);
                console.log(json.data.phone);
                console.log(json.data.password);
                console.log(json.data.password_confirmation);
                console.log(json.data.token);
                
                let token = json.data.token;
                localStorage.setItem('token', token);
                // const tokenItem = getItem('token');
                if(token){
                    location.href = 'http://127.0.0.1:5505/index.html';
                }
            })
        });

    </script>
</body>

</html>