<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ចូលប្រើប្រាស់គណនី</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link
      rel="stylesheet"
      href="/vender/bootstrap-icon/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>

  <body>
    <section class="py-5 vh-100 d-flex align-items-center bg-primary">
      <div class="container">
        <div
          class="row con-sign bg-white bg-login overflow-hidden m-auto"
          style="max-width: 1100px; border-radius: 8px"
        >
          <div
            class="col-12 col-lg-6 d-none d-lg-block"
            style="background-color: #f1f1f1"
          >
            <div class="d-flex flex-column justify-content-between h-100 pt-5">
              <div class="login-img">
                <img
                  src="/assets/image/autenication/signup.png"
                  class="card-img"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 py-5 px-4">
            <h3
              class="text-primary sign-text-head fw-bold text-center text-md-start"
            >
              សូមស្វាគមន៏
            </h3>
            <form action="" class="mt-4">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="New Password"
                />
                <label for="name">នាមត្រកោល និង​នាមខ្លួន</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="New Password"
                />
                <label for="email">អុីម៉ែល ឬលេខទូរស័ព្ទ</label>
              </div>
              <div class="form-floating mb-4">
                <input
                  type="date"
                  class="form-control"
                  id="date-birth"
                  placeholder="New Password"
                />
                <label for="date-birth">ថ្ងៃខែឆ្នាំកំណើត</label>
              </div>
              <div class="form-floating mb-5 position-relative">
                <input
                  type="password"
                  class="form-control"
                  id="pass"
                  placeholder="New Password"
                />
                <label for="pass">ពាក្យសម្ងាត់</label>
                <span
                  class="password-toggle position-absolute"
                  onclick="togglePasswordVisibility()"
                  style="
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                  "
                >
                  <i id="toggleIcon4" class="fas fa-eye"></i>
                </span>
              </div>
              <div class="mb-4">
                <button type="button" class="btn btn-primary w-100 fs-18">
                  បង្កើតគណនី
                </button>
              </div>
              <hr style="color: #aaa" />
              <div class="text-center mt-4">
                <span>មានគណនីរួចហើយ?</span>
                <a href="login.html">ចូលប្រើប្រាស់គណនី</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <script>
      function togglePasswordVisibility() {
        const passwordInput = document.getElementById("pass");
        const toggleIcon = document.getElementById("toggleIcon4");

        if (passwordInput.type === "password") {
          passwordInput.type = "text";
          toggleIcon.classList.remove("fa-eye");
          toggleIcon.classList.add("fa-eye-slash"); // Change icon to eye with slash
        } else {
          passwordInput.type = "password";
          toggleIcon.classList.remove("fa-eye-slash");
          toggleIcon.classList.add("fa-eye"); // Change icon back to eye
        }
      }
    </script>
  </body>
</html>
