<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Category</title>
  <link rel="stylesheet" href="../../../../assets/css/style.css" />
  <link rel="stylesheet" href="../../../../assets/css/main.css" />
  <link rel="stylesheet" href="../../../../assets/css/long.css" />
  <link rel="stylesheet" href="../../../../vender/bootstrap-icon/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../../../vender/datatable/css/dataTables.bootstrap5.css" />
  <link rel="stylesheet" href="../../../../vender/datatable/css/responsive.bootstrap5.css" />
</head>

<body>
  <!-- =============== Navigation ================ -->
  <div class="container-fluid p-0 position-relative w-100">
    <div class="navigation">
      <ul class="p-0">
        <li>
          <a href="../index.html">
            <span class="icon">
              <i class="bi bi-droplet"></i>
            </span>
            <span class="title">Boakuk</span>
          </a>
        </li>

        <li>
          <a href="../index.html">
            <span class="icon">
              <i class="bi bi-grid"></i>
            </span>
            <span class="title">Dashboard</span>
          </a>
        </li>

        <li class="user-item">
          <a href="../page/user.html">
            <span class="icon">
              <i class="bi bi-people"></i>
            </span>
            <span class="title">User</span>
          </a>
        </li>

        <li class="service-item">
          <a href="../page/service.html">
            <span class="icon">
              <i class="bi bi-bag"></i>
            </span>
            <span class="title">Services</span>
          </a>
        </li>

        <li class="order-item">
          <a href="../page/getorder.html">
            <span class="icon">
              <i class="bi bi-bag"></i>
            </span>
            <span class="title">Orders</span>
          </a>
        </li>

        <li class="category-item active">
          <a href="../page/category.html">
            <span class="icon">
              <i class="bi bi-folder"></i>
            </span>
            <span class="title">Category</span>
          </a>
        </li>

        <li class="provider-item">
          <a href="../page/provider.html">
            <span class="icon">
              <i class="bi bi-person-gear"></i>
            </span>
            <span class="title">Providers</span>
          </a>
        </li>

        <li id="logout-admin">
          <a href="">
            <span class="icon">
              <i class="bi bi-box-arrow-right"></i>
            </span>
            <span class="title">Sign Out</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- ========================= Main ==================== -->
    <div class="main">
      <div class="topbar">
        <div class="toggle">
          <i class="bi bi-list"></i>
        </div>
        <div class="global-profile-menu">
          <div class="img-box">
            <img id="profileImage" src="" alt="" />
          </div>
          <div class="dropdown-menu">
            <ul>
              <li>
                <a href="#">
                  <i class="bi bi-person"></i>
                  Account
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="bi bi-key"></i>
                  Password
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="p-4">
        <button type="button" class="btn btn-primary px-4 py-2 shadow mb-3" data-bs-toggle="modal"
          data-bs-target="#addCategoryModal">
          <i class="bi bi-plus-circle"></i>
          Add New
        </button>
        <table id="categoriesTable" class="table table-striped" style="width: 100%">
          <thead>
            <tr>
              <th class="text-start">ID</th>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="table_body">
            <tr></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Add Category Modal -->
  <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" id="categoryName" class="form-control" placeholder="Category Name" />
          <div id="error-message" class="text-danger mt-2"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary text-black" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary" onclick="addCategory()">
            Save Category
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Update Category Modal -->
  <div class="modal fade" id="updateCategoryModal" tabindex="-1" aria-labelledby="updateCategoryLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateCategoryLabel">
            Update Category
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="updateCategoryId" />
          <input type="text" id="updateCategoryName" class="form-control" placeholder="Category Name" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary text-black" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary" onclick="updateCategory()">
            Save Changes
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Add this before the Scripts section -->
  <div class="modal fade global-profile-modal" id="profileModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="profileModalTitle">
            <!-- Dynamic Title -->
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <!-- Forms will be injected here -->
        </div>
      </div>
    </div>
  </div>
  <!-- =========== Scripts src =========  -->
  <script>
    let toggle = document.querySelector(".toggle");
    let navigation = document.querySelector(".navigation");
    let main = document.querySelector(".main");

    toggle.onclick = function () {
      navigation.classList.toggle("active");
      main.classList.toggle("active");
    };
  </script>

  <script src="../../../../vender/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../../../vender/datatable/js/jquery-3.7.1.js"></script>
  <script type="module" src="../../../../assets/js/updateUserInfo.js"></script>
  <script type="module" src="../../../../assets/js/category.js"></script>
  <script type="module" src="../../../../assets/js/sidebar.js"></script>
  <script type="module" src="../../../../assets/js/logout.js"></script>
  <script src="../../../../vender/datatable/js/dataTables.js"></script>
  <script src="../../../../vender/datatable/js/dataTables.bootstrap5.js"></script>
  <script src="../../../../vender/datatable/js/dataTables.responsive.js"></script>
  <script src="../../../../vender/datatable/js/responsive.bootstrap5.js"></script>
</body>

</html>