<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Get order</title>
  <link rel="stylesheet" href="../../../../assets/css/main.css">
  <link rel="stylesheet" href="../../../../assets/css/style.css" />
  <link href="../../../../vender/bootstrap-icon/font/bootstrap-icons.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../../../vender/datatable/css/dataTables.bootstrap5.css">
  <link rel="stylesheet" href="../../../../vender/datatable/css/responsive.bootstrap5.css">
</head>

<body>
  <section class="service-provicer">
    <div class="container-fluid p-0 position-relative w-100">
      <div class="navigation">
        <ul class="px-0">
          <li>
            <a href="../index.html">
              <span class="icon">
                <i class="bi bi-droplet"></i>
              </span>
              <span class="title">Boakuk</span>
            </a>
          </li>

          <li>
            <a href="../index.html">
              <span class="icon">
                <i class="bi bi-grid"></i>
              </span>
              <span class="title">Dashboard</span>
            </a>
          </li>

          <li class="user-item">
            <a href="../page/user.html">
              <span class="icon">
                <i class="bi bi-people"></i>
              </span>
              <span class="title">User</span>
            </a>
          </li>

          <li class="service-item">
            <a href="../page/service.html">
              <span class="icon">
                <i class="bi bi-bag"></i>
              </span>
              <span class="title">Services</span>
            </a>
          </li>

          <li class="order-item active">
            <a href="../page/getorder.html">
              <span class="icon">
                <i class="bi bi-bag"></i>
              </span>
              <span class="title">Orders</span>
            </a>
          </li>

          <li class="category-item">
            <a href="../page/category.html">
              <span class="icon">
                <i class="bi bi-folder"></i>
              </span>
              <span class="title">Category</span>
            </a>
          </li>

          <li id="logout-list">
            <a href="">
              <span class="icon">
                <i class="bi bi-box-arrow-right"></i>
              </span>
              <span class="title">Sign Out</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="main px-4">
        <div class="topbar">
          <div class="toggle">
            <i class="bi bi-list"></i>
          </div>

          <div class="global-profile-menu">
            <div class="img-box">
              <img id="profileImage" src="" alt="" />
            </div>

            <div class="dropdown-menu">
              <ul>
                <li>
                  <a href="#">
                    <i class="bi bi-person"></i>
                    Account
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="bi bi-key"></i>
                    Password
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="p-4">
          <table id="getorder_table" class="table table-striped" style="width:100%">
            <thead>
              <tr>
                <th class="text-start">Service</th>
                <th class="text-start">Customer</th>
                <th class="text-start">Status</th>
                <th class="text-start">Total</th>
                <th class="text-end">Action</th>
              </tr>
            </thead>
            <tbody id="order_table"></tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <!-- views detail payment -->
  <div class="modal fade" id="detailPayment" tabindex="-1" aria-labelledby="detailPaymentLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl  modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header bg-instead p-4">
          <h5 class="modal-title fs-3" id="detailPaymentLabel">Payment Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalContent">
          <div class="row g-5 mb-5 mt-3 px-4 pb-5">
            <div class="col-12">
              <div class="card h-100 border-0">
                <div>
                  <h5 class="mb-4">Payment Status</h5>
                  <div>
                    <form action="" method="get">
                      <div class="d-flex gap-3">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="pedding">
                          <label class="form-check-label" for="pedding">
                            Pedding
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="approve">
                          <label class="form-check-label" for="approve">
                            Approve
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="reject">
                          <label class="form-check-label" for="reject">
                            Reject
                          </label>
                        </div>
                      </div>
                    </form>
                    <!-- Save Button with Spinner -->
                    <button type="button" id="approveBtn" class=" btn  btn-primary mt-3 px-4 py-1">
                      <span id="approveText">Approve</span>
                      <span id="approveSpinner" class="spinner-border spinner-border-sm text-light"
                        style="display: none;"></span>
                    </button>
                    <button type="button" id="rejectBtn" class="btn  btn-danger mt-3 px-4 py-1">
                      <span id="rejectText">Reject</span>
                      <span id="rejectSpinner" class="spinner-border spinner-border-sm text-light"
                        style="display: none;"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card h-100 border-0">
                <div>
                  <h5 class="mb-4">Service Status</h5>
                  <div>
                    <form action="" method="get">
                      <div class="d-flex gap-3 flex-wrap">
                        <!-- Radio Buttons for Service Status -->
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="serviceStatus" id="placedOrder" value="1">
                          <label class="form-check-label" for="placedOrder">Placed Order</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="serviceStatus" id="laundryPickUp"
                            value="2">
                          <label class="form-check-label" for="laundryPickUp">Laundry Pick Up</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="serviceStatus" id="inProcess" value="3">
                          <label class="form-check-label" for="inProcess">In Process</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="serviceStatus" id="processToIron"
                            value="4">
                          <label class="form-check-label" for="processToIron">Process to Iron</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="serviceStatus" id="ironing" value="5">
                          <label class="form-check-label" for="ironing">Ironing</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="serviceStatus" id="readyForDelivery"
                            value="6">
                          <label class="form-check-label" for="readyForDelivery">Ready for Delivery</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="serviceStatus" id="outForDelivery"
                            value="7">
                          <label class="form-check-label" for="outForDelivery">Out for Delivery</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="serviceStatus" id="delivered" value="8">
                          <label class="form-check-label" for="delivered">Delivered</label>
                        </div>
                      </div>
                    </form>
                    <button type="button" id="upStateBtn" class="btn  btn-primary mt-3 px-4 py-1">
                      <span id="upStateText">Update Status Service</span>
                      <span id="upStateSpinner" class="spinner-border spinner-border-sm text-light"
                        style="display: none;"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-xl-7">
              <div class="card h-100 border-0">
                <h5 class="mb-4">Schedule Pickup</h5>
                <form action="" method="post">
                  <div>
                    <label for="datePickup" class="form-label">Select Date and Time</label>
                    <input type="datetime-local" class="form-control" id="datePickup" name="datetime" value="">
                  </div>
                </form>
                <div>
                  <button type="button" id="updPickupBtn" class="btn btn-primary mt-3 px-4 py-1">
                    <span id="upPickupText">Update Pickup Schedule</span>
                    <span id="upPickupSpinner" class="spinner-border spinner-border-sm text-light"
                      style="display: none;"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row g-5 mb-5 px-4 pb-5">
            <div class="col-12 bg-instead p-2 rounded-2">
              <h5 class="text-center mt-2">
                Information Detail
              </h5>
            </div>
            <div class="col-12 col-xl-6">
              <div class="card border-0">
                <h5 class="card-title">Buyer Information</h5>
                <hr style="color: #ddd;">
                <div class="s_img d-flex align-items-center mb-3">
                  <img id="buyer_img" alt="Buyer Avatar" class="avatar-img me-3">
                  <div>
                    <h6 class="mb-0" id="buyer_name"></h6>
                    <small class="text-muted" id="buyer_email"></small>
                  </div>
                </div>
                <div>
                  <p class="mb-1">
                    Phone : <span id="buyer_phone"></span>
                  </p>
                  <p class="mb-1">
                    Location : <span id="buyer_loc"></span>
                  </p>
                  <a id="buyer_add" target="_blank" class="btn btn-sm p-0 text-primary">
                    <i class="bi bi-geo-alt"></i> View on Google Maps
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-6">
              <div class="card border-0">
                <h5 class="card-title">Service Information</h5>
                <hr style="color:#ddd;">
                <div class="s_img d-flex align-items-center mb-3">
                  <img id="ser_img" alt="Service Image" class="card-img mb-3">
                  <div>
                    <h6 class="mb-0" id="ser_name"></h6>
                    <p class="text-muted small" id="ser_dec"></p>
                  </div>
                </div>
                <p class="mb-1">Category: <span id="ser_categ"></span></p>
                <p class="mb-1">Price: <span id="ser_pri"></span></p>
                <p class="mb-1">Discount: <span id="ser_dis"></span></p>
              </div>
            </div>
            <div class="col-12 col-xl-6">
              <div class="card h-100 border-0">
                <h5 class="card-title">Order Details</h5>
                <hr style="color: #ddd;">
                <p class="mb-1">Order ID: <span id="order_id"></span></p>
                <p class="mb-1">Quantity: <span id="order_Qty"></span></p>
                <p class="mb-1">Total Price: <span id="total_price"></span></p>
                <p class="mb-1">Order Date: <span id="order_date"></span></p>
              </div>
            </div>
            <div class="col-12 col-xl-6">
              <div class="card border-0">
                <h5 class="card-title">Transaction</h5>
                <hr style="color: #ddd;">
                <div class="transaction bg-instead rounded-2">
                  <img id="tran_img" alt="Transaction File" class="img-fluid rounded ">
                </div>
                <div>
                </div>
              </div>
              <a id="tran_imgBlank" target="_blank" class="btn btn-primary btn-sm mt-3">View Full Transaction File
              </a>
            </div>
          </div>
        </div>
        <div id="loader" class="text-center" style="display:none;">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Dynamic Profile Modal -->
  <div class="modal fade global-profile-modal" id="profileModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="profileModalTitle">
            <!-- Dynamic Title -->
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <!-- Forms will be injected here -->
        </div>
      </div>
    </div>
  </div>

  <script type="module" src="../../../../assets/js/sidebar.js"></script>
  <script type="module" src="../../../../assets/js/logout.js"></script>
  <script type="module" src="../../../../assets/js/getorder.js"></script>
  <script src="../../../../vender/datatable/js/jquery-3.7.1.js"></script>
  <script src="../../../../vender/datatable/js/dataTables.js"></script>
  <script src="../../../../vender/datatable/js/dataTables.bootstrap5.js"></script>
  <script src="../../../../vender/datatable/js/dataTables.responsive.js"></script>
  <script src="../../../../vender/datatable/js/responsive.bootstrap5.js"></script>
  <script src="../../../../vender/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="module" src="../../../../assets/js/updateUserInfo.js"></script>

</body>

</html>