@font-face {
  font-family: Poppins;
  src: url("../font/Poppins/Poppins-Regular.ttf");
}

* {
  font-family: "Poppins";
}

.bg-input {
  /* background-color: #F9F9F9; */
  background-color: #f8fafc;
}

.bg-store {
  background-color: #f8fafc;
}

.bg-shop-icon {
  background-color: #f9f9f9;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-16 {
  font-size: 16px;
}

.px-80 {
  padding-left: 80px;
}

.mt-70 {
  margin-top: 100px;
}

.mb-70 {
  margin-bottom: 70px;
}

.gap-35 {
  gap: 35px;
}

.w-40 {
  width: 40px;
}

.h-40 {
  height: 40px;
}

.w-30 {
  height: 30px;
}

.h-30 {
  height: 30px;
}

.btn-hover:hover {
  background-color: #0d6efd;
  color: #fff;
}

.line {
  color: #ddd;
}

/* box-shdow */
.bottom-shadow {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.dropdown-shdow {
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shadow-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* navigation bar */

.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(80px);
  transition: visibility 0s, opacity 0.3s, transform 0.3s;
}

.dropdown-menu.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.dropdown {
  position: relative;
  z-index: 1001;
}

#location:focus {
  outline: none;
}

.bg-hover:hover {
  background-color: #f7f7f7;
}

/* login */

<<<<<<< HEAD
.bg-login {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bg-icon {
  width: 50px;
  background-color: #f8fafc;
}

=======
.box-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bg-gradient{
  background: linear-gradient(to bottom, #e66465, #9198e5);
}

.bg-icon {
  width: 50px;
  background-color: #F8FAFC;
}

>>>>>>> c7a1ea9047094b74be381b0576e60ec1f85c4ad2
.form-input {
  border-radius: 4px;
}

<<<<<<< HEAD
.login-img {
  width: 100%;
  height: 100%;
}
.sign-text-head {
  font-size: 35px;
=======

.login-img {
  width: 100%;
  height: 100%;
  padding: 50px;
>>>>>>> c7a1ea9047094b74be381b0576e60ec1f85c4ad2
}

@media (max-width: 768px) {
  .con-sign {
    padding: 0 40px;
  }
}
@media (max-width: 576px) {
  .con-sign {
    padding: 0 10px;
  }
}

/* 
    main hero-banner
 */

.hero-banner {
  width: 100%;
}

.poster-dis {
  height: 300px;
  background-image: linear-gradient(-90deg,
      rgba(255, 255, 255, 0) 13%,
      rgba(242, 139, 130, 1) 41%),
    url("../image/discount/1.png");
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.carousel-prev {
  margin-left: -110px;
}

.carousel-next {
  margin-right: -110px;
}

.title-content {
  background-color: #f9f9f9;
  padding: 20px 0;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.filter-shop {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding-block: 10px;
}

.img-store {
  height: 230px;
  transition: 0.5s;
}

.img-store:hover {
  transform: scale(1.05);
}

.text-store {
  color: #424242;
}

.text-store:hover {
  color: #f28b82;
}


/* footer */
.footer {
  background-color: #f9f9f9;
  padding: 60px 0;
  color: #333;
}

.footer h5 {
  color: #007bff;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer ul {
  padding-left: 0;
  list-style: none;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #333;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #007bff;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  margin-right: 10px;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}