<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ចូលប្រើប្រាស់គណនី</title>
  <link rel="stylesheet" href="../../../assets/css/main.css" />
  <link rel="stylesheet" href="../../../vender/bootstrap-icon/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="../../../assets/css/long.css" />
  <link rel="stylesheet" href="../../../assets/css/style.css" />
  <link rel="stylesheet" href="../../../vender/fontawesome/css/all.css">
</head>

<body style="background: linear-gradient(to bottom, #4762e6, #7680f0)">

  <section class="vh-100 d-flex align-items-center">
    <div class="container">
      <div class="outer m-auto col-12 col-md-10">
        <div class="row bg-white bg-login bg-danger overflow-hidden m-auto"
          style="max-width: 1100px; border-radius: 8px;">
          <div class="col-6 p-0 d-none d-xl-block">
            <div class="login-img">
              <img src="../../../assets/image/autenication/login.jpg" class="card-img" alt="">
            </div>
          </div>
          <div class="col-12 col-xl-6 py-5 px-5">
            <h3 class="text-primary fw-bold">សូមស្វាគមន៏!</h3>
            <form id="login" class="mt-4">
              <div class="form-floating mb-4 position-relative">
                <input type="email" class="form-control" id="email" placeholder="New Password" />
                <label for="email">អុីម៉ែល</label>
                <span id="err_emaillg" class="err"></span>
              </div>
              <div class="form-floating mb-5 position-relative">
                <input type="password" autocomplete="off" class="form-control" id="password"
                  placeholder="New Password" />
                <label for="pass">ពាក្យសម្ងាត់</label>
                <span class="eye_pass" onclick="togglePasswordVisibility()">
                  <i id="toggleIcon" class="fas fa-eye"></i>
                </span>
                <span id="err_passlg" class="err me-n22">
                </span>
              </div>
              <div class="mb-4">
                <button id="saveButton" class="btn btn-primary w-100" type="submit">
                  <span class="spinner-border spinner-border-sm" id="spinner" style="display:none;"
                    aria-hidden="true"></span>
                  <span id="buttonText">ចូលប្រើប្រាស់គណនី</span>
                </button>
              </div>
              <div class="d-flex justify-content-end mb-4">
                <a href="forgot-pass.html" class="fs-18 text-decoration-none">ភ្លេចពាក្យសម្ងាត់?</a>
              </div>
              <hr style="color:#aaa;">
              <div class="text-center mt-4">
                <span>តើអ្នកជាសមាជិកថ្មី?</span>
                <a href="signup.html">បង្កើតគណនី</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="../../../vender/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../../assets/js/script.js"></script>
  <script src="../../../assets/js/login.js"></script>
</body>

</html>