<!DOCTYPE html>
<html lang="km">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ទម្រង់កំណត់ពាក្យសម្ងាត់ឡើងវិញ</title>
  <link rel="stylesheet" href="../../../assets/css/main.css" />
  <link rel="stylesheet" href="../../../assets/css/style.css" />
  <link rel="stylesheet" href="../../../vender/bootstrap-icon/font/bootstrap-icons.css">
  <script src="https://unpkg.com/lucide@latest"></script>
</head>

<body class="bg-primary re-pass-body">
  <div class="container my-5">
    <div class="outer m-auto col-12 col-md-10">
      <div class="glass-card bg-white w-100 row g-0 align-items-center outline-card">
        <div class="col-lg-6 position-relative d-none d-lg-block">
          <div class="laundry-img">
            <img src="../../../assets/image/autenication/re-pass.png" alt="រូបភាពក្រាហ្វិក" class="img-fluid" />
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="content">
            <h2 class="mb-2 text-black">បង្កើត</h2>
            <h1 class="mb-4 text-dark">ពាក្យសម្ងាត់ថ្មី</h1>
            <form id="resetForm">
              <div class="form-floating mb-4 position-relative">
                <input type="password" class="form-control" id="Password1" placeholder="ពាក្យសម្ងាត់ថ្មី" />
                <label for="Password1">ពាក្យសម្ងាត់ថ្មី</label>
                <span class="error-message text-danger" id="errorPassword1"></span>
                <span class="password-toggle" onclick="togglePassword('Password1', 'toggleIcon1')" aria-label="Toggle password visibility">
                  <i id="toggleIcon1" data-lucide="eye"></i>
                </span>
              </div>
              <div class="form-floating mb-4 position-relative">
                <input type="password" class="form-control" id="Password2" placeholder="បញ្ជាក់ពាក្យសម្ងាត់" />
                <label for="Password2">បញ្ជាក់ពាក្យសម្ងាត់</label>
                <span class="error-message text-danger" id="errorPassword2"></span>
                <span class="password-toggle" onclick="togglePassword('Password2', 'toggleIcon2')" aria-label="Toggle password visibility">
                  <i id="toggleIcon2" data-lucide="eye"></i>
                </span>
              </div>
              <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between">
                <button id="forgetButton" class="re-btn btn btn-primary mb-3 mb-sm-0" type="submit">
                  <span class="spinner-border spinner-border-sm" id="forget_spinner" style="display:none;" aria-hidden="true"></span>
                  <span id="buttonText_forget">បញ្ជាក់</span>
                </button>
                <div class="re-pass-link">
                  <a class="btn btn-link" href="login.html">ត្រឡប់ទៅការចូល</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <script type="module" src="../../../assets/js/re_pass.js"></script>
  <script src="../../../vender/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>