<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ចូលប្រើប្រាស់គណនី</title>
    <link rel="stylesheet" href="../../../assets/css/main.css" />
    <link rel="stylesheet" href="../../../vender/bootstrap-icon/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <link rel="stylesheet" href="../../../assets/css/style.css" />
</head>

<body>
    <section class="py-5 d-flex align-items-center bg-primary">
        <div class="container">
            <div class="border-out p-3">
                <div class="row con-sign bg-white bg-login overflow-hidden m-auto"
                    style="max-width: 100%; border-radius: 8px">
                    <div class="col-12 col-lg-6 d-none d-lg-block">
                        <div class="d-flex flex-column justify-content-between h-100">
                            <div class="login-img p-0 d-flex align-items-center">
                                <img src="../../../assets/image/autenication/signup.jpg" class="card-img" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 py-5 px-2 px-md-5">
                        <h3 class="text-primary sign-text-head fw-bold text-center text-md-start">
                            សូមស្វាគមន៏
                        </h3>
                        <form action="" class="mt-4" id="registerForm">
                            <div class="form-floating mb-3">
                                <input type="text" autocomplete="off" class="form-control" id="name"
                                    placeholder="New Password" />
                                <label for="name">នាមត្រកោល និង​នាមខ្លួន</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" autocomplete="off" class="form-control" id="email"
                                    placeholder="New Password" />
                                <label for="email">អុីម៉ែល</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" autocomplete="off" class="form-control" id="phone"
                                    placeholder="New Password" />
                                <label for="phone">លេខទូរស័ព្ទ</label>
                            </div>
                            <div class="form-floating position-relative">
                                <input type="password" autocomplete="off" class="form-control" id="pass"
                                    placeholder="New Password" />
                                <label for="pass">ពាក្យសម្ងាត់</label>
                                <span class="eye_pass" onclick="togglePasswordVisibility()">
                                    <i id="toggleIcon4" class="fas fa-eye"></i>
                                </span>
                                <span id="err_pass"></span>
                            </div>

                            <div class="form-floating mb-1 position-relative">
                                <input type="password" autocomplete="off" class="form-control" id="confirm_pass"
                                    placeholder="New Password" />
                                <label for="confirm_pass">បញ្ចាក់ពាក្យសម្ងាត់</label>
                                <span class="eye_pass" onclick="togglePasswordVisibility1()">
                                    <i id="toggleIcon5" class="fas fa-eye"></i>
                                </span>
                            </div>
                            <button id="registerButton" class="btn btn-primary w-100 fs-18" type="submit">
                                <span class="spinner-border spinner-border-sm" id="spinner" style="display:none;"
                                    aria-hidden="true"></span>
                                <span id="buttonText">បង្កើតគណនី</span>
                            </button>

                            <hr style="color: #aaa" />
                            <div class="text-center mt-4">
                                <span>មានគណនីរួចហើយ?</span>
                                <a href="login.html">ចូលប្រើប្រាស់គណនី</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <script src="../../../assets/js/script.js"></script> -->
    <script src="../../../assets/js/signup.js"></script>
</body>

</html>